
form {
    margin: 2rem auto;
    max-width: 768px;
    padding: 1.5rem;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    display: flex;

}
input[name="text"],
input[name="text"],
input[type="email"],
input[type="text"],
input[type="password"] {
    padding: 0.65rem 0.5rem;
    font-size: 1rem;    
    border: 2px solid #e6dfdf;
    background-color: #fafafa;
    color: #303030;
    border-radius: 10px;
} 

button {
    margin-top: 1rem;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #585687;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}